html,
body {
  font-family: "Poppins", sans-serif;
  background-image: url(/assets/img/main-bg.png);
  background-size: cover;
}

.navbar .navbar-brand {
  position: absolute;
  height: 36px;
  top: 0;
  width: 140px;
  background-image: url(/assets/svg/logo.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.navbar .navbar-nav {
  width: 100%;
}
.navbar .navbar-nav .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: white;
}
.social-links {
  display: none;
}

.social-link-container {
  display: flex;
  position: absolute;
  right: 0;
}
.menu-item {
  font-size: 25px;
  color: white;
}
@media (max-width: 992px) {
  .nav-item .social-links {
    display: inline-block;
  }
  .links-container {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (min-width: 993px) {
  .menu-item,
  .menu-item {
    display: inline-block;
  }
}

.main-info {
  background-image: url(/assets/svg/world.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 104px);
  align-items: center;
}
.main-info > div {
  max-width: 800px;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}
.main-info > div > p:nth-child(1) {
  color: #16fcd2;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.1em;
  line-height: 32px;
}
.main-info > div > p:nth-child(2) {
  color: #ffffff;
  font-weight: bold;
  font-size: 41px;
  line-height: 54px;
}
.main-info > div div {
  max-width: 500px;
  margin: auto;
}
.main-info > div div p {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
}

.video-container,
.video-container video {
  width: 100%;
  border-radius: 40px;
}

.cards-container > div {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  flex-basis: 0;
}
.cards-container > div > p:nth-child(2) {
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: white;
}
.cards-container > div > p:nth-child(3) {
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.6);
}
.cards-container > div > div {
  display: inline-block;
  color: white;
  background: rgba(255, 255, 255, 0.03);
  border-radius: 3px;
}
.logo-small {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/assets/svg/logo-small.svg);
  background-size: cover;
  height: 24px;
  width: 24px;
}
@media (max-width: 930px) {
  .cards-container {
    flex-wrap: wrap;
  }
  .cards-container > div {
    margin-right: 0 !important;
  }
  .work-image,
  .team-image {
    height: 320px !important;
  }
}

.how-we-work-text-container > p:nth-child(1) {
  margin-top: 70px;
  color: #16fcd2;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.1em;
  line-height: 32px;
}

.how-we-work-container .work-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(/assets/svg/how-we-work.svg);
  height: 350px;
  width: 50%;
}
.how-we-work-container .work-text {
  width: 50%;
}
.how-we-work-container .work-text p:nth-child(1) {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 48px;
  color: #ffffff;
}
.how-we-work-container .work-text p:nth-child(2) {
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.6);
}
.how-we-work-container .work-text button {
  outline: none;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.out-team-container .team-image {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/assets/svg/team.svg);
  background-size: contain;
  height: 385px;
  width: 50%;
}
.out-team-container .team-text {
  width: 50%;
}
.out-team-container .team-text p:nth-child(1) {
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.1em;
  color: #16fcd2;
}
.out-team-container .team-text p:nth-child(2) {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 48px;
  color: #ffffff;
}
.out-team-container .team-text p:nth-child(3) {
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.6);
}
.out-team-container .team-text button {
  outline: none;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

@media (max-width: 570px) {
  .team-text,
  .work-text {
    width: 100% !important;
  }
  footer.justify-content-between {
    flex-wrap: wrap;
    justify-content: center !important;
  }
  footer.justify-content-between > * {
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .testimonials-container .persons-container > div {
    flex-grow: 1;
  }
}

.testimonials-container .text-container,
.faqs-container .text-container,
.road-map-container .text-container,
.chart-container .text-container {
  max-width: 800px;
}
.testimonials-container .text-container p:nth-child(1),
.faqs-container .text-container p:nth-child(1),
.road-map-container .text-container p:nth-child(1),
.chart-container .text-container p:nth-child(1) {
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #16fcd2;
}
.testimonials-container .text-container p:nth-child(2),
.faqs-container .text-container p:nth-child(2),
.road-map-container .text-container p:nth-child(2),
.chart-container .text-container p:nth-child(2) {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
}
.road-map-container .image-container,
.chart-container .image-container {
  background: rgba(255, 255, 255, 0.05);
  border: 0.5px solid #6016fc;
  box-sizing: border-box;
  box-shadow: 5px 4px 12px rgba(0, 0, 0, 0.24);
  border-radius: 15px;
  width: 100%;
}

.road-map-container .road-map {
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.road-map-container .road-map i {
  font-size: 50px;
  color: white;
}
.road-map-container .road-map i.done {
  color: green;
}
.road-map-container .road-map > div {
  flex-basis: 0;
  padding: 1rem;
  min-width: 300px;
  display: flex;
  flex-grow: 1;
}
.road-map-container .road-map img {
  width: 60px;
  height: 80px;
  margin-top: 20px;
}
.road-map-container .road-map .month {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-transform: capitalize;
  color: #f2faff;
  border-bottom: 1px solid rgba(96, 22, 252, 1);
  padding-top: 1rem;
  margin-left: 10px;
  padding-bottom: 5px;
}
.road-map-container .road-map li {
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 1px;
  color: #ffffff;
  padding: 5px;
}

.testimonials-container .persons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
}
.testimonials-container .persons-container > div {
  flex-grow: 1;
  flex-basis: auto;
  margin: 1rem;
}
.testimonials-container .persons-container > div > div {
  padding: 2rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.testimonials-container .persons-container > div .avatar {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(/assets/svg/avatar.svg);
  height: 100px;
  display: block;
  margin-bottom: 1rem;
  width: 100px;
}
.testimonials-container .persons-container > div .name {
  font-weight: bold;
  font-size: 18px;
  line-height: 19px;
  color: #ffffff;
}
.testimonials-container .persons-container > div .company-position {
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.6);
}
.testimonials-container .persons-container > div .company-profession {
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 10px;
}

.faqs-container .accordion {
  width: 100%;
}
.faqs-container .accordion .accordion-item,
.faqs-container .accordion .accordion-item .accordion-button,
.faqs-container .accordion .accordion-item .accordion-body {
  background: rgba(255, 255, 255, 0.05);
}
.faqs-container .accordion .accordion-item .accordion-body {
  font-size: 19px;
  line-height: 140%;
  color: #ffffff;
}
.faqs-container .accordion .accordion-item .accordion-button {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  background: #6016fc;
  color: #ffffff;
}
.faqs-container .accordion .accordion-item .accordion-button.collapsed {
  background: rgba(255, 255, 255, 0.05);
}
.accordion-button:not(.collapsed)::after,
.accordion-button::after {
  background: url(/assets/svg/expand.svg) !important;
}

.links-container {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.links-container p {
  font-weight: 600;
  font-size: 25px;
  line-height: 46px;
  text-transform: capitalize;
  color: #ffffff;
}
.links-container > div {
  width: 400px;
}

footer .logo {
  height: 36px;
  width: 140px;
  background-image: url(/assets/svg/logo.svg);
  background-position: center;
  background-repeat: no-repeat;
}
footer .nav-link {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
}
footer .list-group-item {
  background: transparent;
  border: none;
  padding-top: 0;
  padding-bottom: 0;
}

.copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 15px;
  letter-spacing: 1px;
  padding: 1rem;
  margin: 0;
}

.btn-primary {
  background: #6016fc;
  border-color: #6016fc;
}
.btn-outline-primary {
  color: white;
}
